@model IEnumerable<FrontEnd.API.Models.Estado>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
        </table>
    </div>
</div>